body{
    color: black;
    background: pink;
    margin:0px;
    font-family: "DM Serif Text", serif;
}

header {
    border-bottom: solid 1px black;
    padding:20px;
    font-size:25px;
}

section {
    background: rgb(157,97,108);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}
